<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SIMPLE CALCULATOR</h1>
    <form action="calculator" method="POST">
        {% csrf_token %}
        enter 1st num:<input type="text" name="num1"><br><br>
        enter 2st num:<input type="text" name="num2"><br><br>
        <button type="submit" name="add">add</button>
        <button type="submit" name="sub">sub</button>
        <button type="submit" name="mul">mul</button>
        <button typr="submit" name="div">div</button>
        <button type="submit" name="mod">mod</button>

    </form>
</body>
</html>